<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <title>Language Library</title>
    <link rel="shortcut icon" type="image/jpg" href="img/books_emoji.png" />
  </head>
  <div class="content">
    <section class="main-header">
      <h1 class="home-header">Language Library</h1>
      <nav class="header-nav">
        <a class="nav-link" href="index.html">Home</a>
        <a class="nav-link" href="/pages/about.html">About</a>
        <a class="nav-link" href="/pages/contact.html">Contact</a>
        <a class="nav-link" href="/pages/faq.html">FAQ</a>
      </nav>
    </section>
    <section class="body">
    </section>
    <footer>
      Last updated:
    </footer>
  </div>

</html>
