<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../../styles.css" />
    <title>Language Library</title>
    <link rel="shortcut icon" type="image/jpg"
      href="../../../img/books_emoji.png" />
  </head>
  <div class="content">
    <section class="main-header">
      <h1 class="home-header">Language Library</h1>
      <nav class="header-nav">
        <a class="nav-link" href="../../../index.html">Home</a>
        <a class="nav-link" href="../../pages/about.html">About</a>
        <a class="nav-link" href="../../pages/contact.html">Contact</a>
        <a class="nav-link" href="../../pages/faq.html">FAQ</a>
      </nav>
    </section>
    <section>
      <article class="body">
        <h2 class="subheader"></h2>
        <h3>About</h3>
        <p></p>
        <p>Read more on <a href="" target="_blank">Wikipedia</a>.</p>
      </article>
      <article class="body">
        <h3 class="subheader">Free Learning Resources</h3>
        <table class="resource-table">
          <tr class="resource-table-row">
            <th class="resource-table-header">Resource</th>
            <th class="resource-table-header">About</th>
            <th class="resource-table-header">Link</th>
          </tr>
          <tr class="resource-table-row">
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"><a href="" target="_blank">Link</a>
            </td>
          </tr>
        </table>
      </article>
      <article class="body">
        <h3 class="subheader">Freemium* Resources</h3>
        <table class="resource-table">
          <tr class="resource-table-row">
            <th class="resource-table-header">Resource</th>
            <th class="resource-table-header">About</th>
            <th class="resource-table-header">Link</th>
          </tr>
          <tr class="resource-table-row">
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"><a href="" target="_blank">Link</a>
            </td>
          </tr>
        </table>
        <p>*Freemium means mostly free with extra content unlocked by paying.
        </p>
      </article>
      <article class="body">
        <h3 class="subheader">Paid Resources</h3>
        <table class="resource-table">
          <tr class="resource-table-row">
            <th class="resource-table-header">Resource</th>
            <th class="resource-table-header">About</th>
            <th class="resource-table-header">Link</th>
          </tr>
          <tr class="resource-table-row">
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"><a href="" target="_blank">Link</a>
            </td>
          </tr>
        </table>
      </article>
      <article class="body">
        <h3 class="subheader">Books</h3>
        <table class="resource-table">
          <tr class="resource-table-row">
            <th class="resource-table-header">Resource</th>
            <th class="resource-table-header">About</th>
          </tr>
          <tr class="resource-table-row">
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"></td>
          </tr>
        </table>
      </article>
      <article class="body">
        <h3 class="subheader">Forums & Communities</h3>
        <table class="resource-table">
          <tr class="resource-table-row">
            <th class="resource-table-header">Community</th>
            <th class="resource-table-header">About</th>
            <th class="resource-table-header">Link</th>
          </tr>
          <tr class="resource-table-row">
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"><a href="" target="_blank">Link</a>
            </td>
          </tr>
        </table>
      </article>
      <article class="body">
        <h3 class="subheader">Schools & Courses</h3>
        <table class="resource-table">
          <tr class="resource-table-row">
            <th class="resource-table-header">School</th>
            <th class="resource-table-header">About</th>
            <th class="resource-table-header">Link</th>
          </tr>
          <tr class="resource-table-row">
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"></td>
            <td class="resource-table-cell"><a href="" target="_blank">Link</a>
            </td>
          </tr>
        </table>
      </article>
      <article class="body">
        <h4 class="subheader">Disclaimer</h4>
        <p>This list of resources is not definitive and may not have been
          updated in a while. If anything is missing, broken, or incorrect
          please let me know! I am just one person maintaining this site. I am
          also not affiliated with any of these, nor do I gain anything from
          clicks on the above links. Please be aware that I have not thoroughly
          vetted all of these resouces for their quality or reliability. Use
          your own discretion when deciding what to use, but if anything seems
          very wrong, please let me know and I will remove the resource!</p>
      </article>
    </section>
    <footer>
      Last updated:
    </footer>
  </div>

</html>
